[2015-05-04 09:26] jakefb opened #3 "Converting data to an ArrayBuffer in node"
Hi, I want to use videostream with webtorrent in node. This is because I'm trying to make an electron app which runs the hybrid client version of webtorrent, for streaming videos. When I try to use videostream as a module in node I get:

"Uncaught TypeError: data.arrayBuffer is not a function", source: /usr/lib/node_modules/webtorrent/node_modules/dezalgo/node_modules/asap/asap.js

I think this is

[2015-05-22 10:26] jhiesey commented on #3
Hi @jakefb sorry I missed this. I'll take a look soon

[2015-05-24 14:24] line-o opened #4 "add support for m4a playback"
* [x] use audio tag for m4a playback
* [x] allow m4a for file extension
* [x] enable streaming of m4a

[2015-05-24 16:09] feross commented on #4
https://instant.io already supports m4v!

[2015-05-24 16:15] feross commented on #4
Here are some m4a files that don't work: http://www.bakeraudio.org/sample-audio-recordings.html

We tested "cheeseburger" and "me_myself_i".

[2015-05-24 17:23] feross commented on #4
The m4a files on that page seem like they're in a really weird format...

[2015-05-24 17:23] feross commented on #4
In any case, https://instant.io now supports .m4a, though not streaming. You need to download the full file first. This is a decent solution for now, but let's obviously leave this issue open :)

[2015-05-25 11:55] line-o commented on #4
Cool!

[2015-05-25 11:57] line-o commented on #4
If this library is able to stream arbitrary media it might be useful to rename it to mediastream :)

[2015-05-25 13:41] jhiesey commented on #4
@line-o good point. I think it'll be limited to video and audio, with audio more of a secondary case. I'm going to keep the name for the moment but may change it if lots of people use it for audio.

What will be a lot harder is supporting non-mp4 formats.

[2015-05-26 14:35] line-o commented on #4
Then mp4-streamer might be better :)

[2015-06-02 00:26] feross opened #5 "Uncaught TypeError: Cannot read property 'type' of undefined"
#### *Moving this issue from https://github.com/feross/instant.io/issues/46 for @jakefb.*

![screenshot from 2015-05-26 22 27 52](https://cloud.githubusercontent.com/assets/6836282/7810492/8ca25356-03f6-11e5-812c-5107861e0f15.png)

I dragged a 600 MB mp4 file onto the page

[2015-06-03 03:56] jakefb commented on #4
Does videostream support H.265 and VP9 codecs? I think YouTube uses VP9 for its 4K video.

[2015-06-03 08:58] jhiesey commented on #4
I don't know if it works with H.265 or not, but I doubt that would be hard to get working even if it doesn't.

VP9 typically uses a webm container (similar to MKV) which would take a lot more work to build.

[2015-06-03 20:15] jhiesey commented on #3
Hi again, I finally got a chance to take a look at this. I haven't used electron myself, but my understanding is that it has two types of processes, a node-like main process on the backend that doesn't have access to the dom, and a chrome-like renderer process (controlled by a `BrowserWindow`) for each webpage.

Which process are you trying to run videostream in?

I'm not sure how you would use vi

[2015-06-03 20:29] jhiesey commented on #4
@feross the audio files in your link use Apple's ALAC codec, which chrome doesn't support, so those probably won't ever work outside safari. I'll try to get some other files that use regular AAC to work instead though.

[2015-06-04 01:28] jhiesey commented on #4
At least one .m4a file now works on master. It's the first test file on this page: http://www.thesixteendigital.com/testfiles/

[2015-06-04 01:29] jhiesey commented on #4
Closing since I got a file to work properly. I know other files don't work; I'll open a separate issue for that.

[2015-06-04 01:29] #4 closed

[2015-06-04 01:31] jhiesey opened #6 "Some files don't play"
There are lots of files that don't work. Add a comment here for each file that doesn't work and I'll try to see what's wrong and make individual issues for the various problems I see.

[2015-06-04 01:34] jhiesey commented on #6
The first .m4a file on this page: https://bitlove.org/metaebene/logbuch-netzpolitik fails with lots of exceptions

[2015-06-04 01:37] jhiesey opened #7 "Backpressure doesn't work properly"
Currently backpressure is only applied once the browser starts throwing exceptions indicating that too much data is buffered. This is causing very high cpu usage in chrome and is just very inelegant in general.

Instead the amount of data given to the browser should be limited directly, by counting the number of bytes, frames, or seconds currently buffered. Figuring out how to do this elegantly ma

[2015-06-06 19:15] feross commented on #4
Wohoo!

[2015-06-06 19:16] feross commented on #7
:+1: Lmk if you want to work on this together, or discuss how to do it!

[2015-06-06 19:18] feross commented on #5
@jakefb, can you provide the file in question to @jhiesey via email? Otherwise, we'll have to close this issue for lack of sufficient information to debug.

[2015-06-06 22:15] jakefb commented on #5
I emailed @jhiesey a link to the file a few days ago. Maybe he didn't get it?

[2015-06-06 23:20] jhiesey commented on #5
I looked back through my mail and ended up finding it. I'll take a look soon.

[2015-06-08 15:53] tghosgor opened #8 "How to wait for data"
Let's say that I am manually generating the data. I can't really see the way to do it here:

[code]

Let's say that start=100 end=200 is requested and I do not have and cannot yet generate the data when this request has happened. I will however will be able to provide the data in 5 seconds. Is it possible to do this?

Also, is there a documentation that defines the interface of the object to be re

[2015-06-08 22:31] jhiesey commented on #8
The object to be returned by `createReadStream` should be a node-style readable stream. What you need to do on your end is documented here: https://nodejs.org/api/stream.html#stream_class_stream_readable_1

Essentially it boils down to implementing a `._read()` method, which doesn't need to return the data immediately, but notifies your code that data is needed. You then call `.push()` with the da

[2015-06-08 23:49] tghosgor commented on #8
Thank you very much for the information. I am mainly a C++ developer and not really familiar with nodejs. I didn't know how much of nodejs is compliant with the browser exactly. You should add this information to readme if you feel to do so but then again web community probably have this knowledge :).

[2015-06-11 07:52] jakefb commented on #3
Sorry for the late reply, I'm pretty new to how Electron works so I would have to find out more to give you a detailed answer.

Pretty much what I wanted to do, was run WebTorrent inside the node-like process so that it is faster and can communicate with BitTorrent peers and use videostream to stream the torrent to the video element in the dom.

[2015-06-14 01:34] jhiesey commented on #8
Thanks for the suggestion! I'll add it soon.

[2015-06-14 01:38] jhiesey commented on #3
It sounds like you'd have to build a bridge between webtorrent and videostream.

You would need to write something that takes a `createReadStream()` call from videostream in the renderer and send it to the node process, and then pass the stream with the video data back to the renderer. I would guess that wouldn't be too hard, but you'll have to look into it and see.

[2015-06-14 02:22] jhiesey commented on #5
@jakefb I figured out what's wrong. That file is slightly malformed according to the spec, and while many players are perfectly happy to play it, mp4box.js chokes and fails.

Unfortunately it might be fairly tricky to fix this elegantly due to the design of mp4box.js. I'll try to think if there's an easier solution to this problem.

@jakefb, as a workaround, you can fix the file so it plays by edi

[2015-06-14 02:41] jhiesey commented on #5
OK I have a better solution. Fixed by this commit: https://github.com/jhiesey/mp4box.js/commit/414178f55e645039ac97ca1d159f7f8cdaa4c146

[2015-06-14 02:41] #5 closed

[2015-06-15 06:24] jakefb commented on #3
Thanks, I will give this a try and let you know how it goes!

[2015-06-18 12:06] jakefb commented on #3
I have tried to fix this but I'm sure the issue with how webtorrent works in node instead of electron. I don't think the code is running in the main process because it access to the dom (the video tag still appears but nothing gets streamed to it). Take a look at these comments from asap.js.

        } catch (e) {
            if (isNodeJS) {
                // In node, uncaught exceptions are cons

[2015-06-22 12:58] jakefb commented on #3
I got video streaming working in the process node by setting up a http server to stream the video file to the video element. It works well with node modules like airplay-js which is nice https://github.com/fastcast/fastcast-app/commit/80ede76cc502c954b8a2e5a23afff7308bf68e17

[2015-06-23 04:07] bjackson commented on #3
Hmm. Perhaps it has something to do with the fact that it's using the NativeBuffer, the browser implementation of node buffer instead of node's buffer.

[2015-06-24 02:55] jhiesey commented on #3
@jakefb your approach of setting up an http server is likely to work much better, since the browser handles everything necessary to request the right byte ranges.

@bjackson what specific issue are you experiencing?

[2015-06-25 00:25] bjackson commented on #3
I get the exact same exception: `"Uncaught TypeError: data.arrayBuffer is not a function", source: /usr/lib/node_modules/webtorrent/node_modules/dezalgo/node_modules/asap/asap.js`

[2015-07-02 00:04] feross opened #9 "MP4Box.js returns invalid offset when given .mp3 file"
If you give videostream a file of the wrong type (like .mp3) it passes it to mp4box.js which doesn't realize that the file is not an MP4. It then asks for a crazy huge offset way bigger than the actual file length, which gets passed through to `file.createReadStream({ start: xxx, end: xxx })` and fails.

Not a hugely important issue, since I shouldn't be giving it an .mp3, but just sharing since i

[2015-07-02 00:20] feross opened #10 "MP4Box.js doesn't emit an error when processing an M4A file that it can't handle"
Happens with take_5.m4a on http://www.bakeraudio.org/sample-audio-recordings.html

So then the audio tag just sits there doing nothing.

[2015-07-02 01:06] feross opened #11 "When the media element emits 'error', destroy everything"
When an 'error' event is emitted on the `<video>` tag, I expect `videostream` to destroy all it's state and stop doing all work. Instead, it continues to call `popBuffers` in a tight loop (despite the 5ms -> 5s fix I just pushed), printing 1000s of errors to my console in seconds!

I think `videostream` should listen for 'error' on the media element and destroy itself if it's ever emitted.

[2015-07-08 01:13] feross opened #12 "BEST_DUBSTEP_CAT.mp4 does not autoplay"
You can see it in action on https://instant.io. If you click play, it works.

[2015-07-27 22:17] feross opened #13 "Bitlove Intro video plays, but then throws an error"
1. Download the torrent file with `webtorrent-hybrid`:

[code]

2. Drag the [.torrent file](https://github.com/feross/webtorrent/raw/master/test/torrents/bitlove-intro.torrent) onto https://instant.io. If you use `localStorage.debug = "webtorrent:append-to"`, you can see that it falls back to the Blob approach after `videostream` fails.

[2015-07-29 02:14] jhiesey commented on #13
Looks like this is actually a webm, file, which isn't supported (yet; may never be).

[2015-07-29 02:14] #13 closed

[2015-07-29 05:47] feross commented on #13
Right you are.

[2015-09-11 13:47] maca134 opened #15 "Installing via npm fails"
When installing via npm, it fails on mp4box dep:
[code]

[2015-09-11 13:53] rom1504 commented on #15
Seems like it's there https://github.com/gpac/mp4box.js now, it's also in npm https://www.npmjs.com/package/mp4box
Videostream should probably use the npm version

[2015-12-17 11:07] feross opened #17 "Firefox 43 error"
Visit https://webtorrent.io with Firefox 43. Video fails to load, and this error is in the console:

"InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable"

Works fine on Firefox Nightly (46). Thoughts?

[2015-12-17 21:34] jhiesey commented on #17
Don't know, but I can take a look. Firefox has historically had a pretty buggy MediaSource implementation though, so they could still be ironing things out.

[2015-12-17 22:36] feross commented on #17
Yeah, I tested on Firefox 44 and it works fine, so maybe we should just
wait for the next release.
On Fri, Dec 18, 2015 at 10:40 AM John Hiesey <notifications@github.com>
wrote:

[2016-01-02 16:47] feross commented on #15
This looks like it was a temporary npm glitch. @jhiesey intends to merge his changes back into upstream at some point, so I will close this issue.

[2016-01-02 16:47] #15 closed

[2016-01-02 23:01] RaulTsc commented on #3
Possibly related https://github.com/feross/buffer/issues/90

[2016-02-01 11:21] jhiesey commented on #17
Works for me. Closing.

[2016-02-01 11:21] #17 closed

[2016-02-01 11:25] jhiesey opened #20 "Support fragmented mp4 files"
Since the rewrite, fragmented mp4 files aren't supported any more.

Is this a feature people want? If so, let me know. If not, this isn't a high priority issue.

[2016-02-01 11:25] jhiesey commented on #12
As of version 2, this file isn't compatible since it is a fragmented mp4. If there is demand, I can fix this: #20

[2016-02-01 11:29] jhiesey commented on #3
Yep, that's the right related issue. This should be fixed properly since the rewrite.

[2016-02-01 11:29] #3 closed

[2016-02-01 11:29] jhiesey commented on #7
Fixed in the rewrite.

[2016-02-01 11:29] #7 closed

[2016-02-01 23:35] jhiesey commented on #12
Closing for now

[2016-02-01 23:35] #12 closed

[2016-02-01 23:36] jhiesey commented on #6
Existing bugs should be fixed, but there may be new ones. Closing for now.

[2016-02-01 23:36] #6 closed

[2016-02-02 01:42] jhiesey commented on #11
Should be fixed

[2016-02-02 01:42] #11 closed

[2016-02-02 01:42] jhiesey commented on #10
Fixed.

[2016-02-02 01:42] #10 closed

[2016-02-02 01:43] jhiesey commented on #9
Hm, now that the file length isn't a required field, not sure this is easy to fix. Thoughts?

[2016-02-02 06:58] feross commented on #9
This isn't an issue for me anymore, since `render-media` doesn't ever pass .mp3 file data into `videostream`, but is there a way to detect that it's not a valid mp4 file?

Also, I'm curious, how does `videostream` avoid calling `createReadStream()` with invalid offsets? Pretty sure an invalid `end` value (i.e. too big) will cause webtorrent to throw an exception.

[2016-02-03 07:09] feross opened #21 "Fragmented file causes an exception to be thrown"
It should probably fire an error on the video tag when it can't support a file, so I can fallback to some other method of playing the video, or offer a download link.

[2016-02-03 18:32] yciabaud opened #22 "Problems when streaming with preload="none""
I can't stream to a video element with preload="none" since the rewrite, I had a look at the code and it seems that the event sourceopen is not fired because of the lack of preload and then I have an error when playing video:

In fact it is a previous stream object but the buffer has not been created yet.

Second problem in this configuration is that the stream begins to be pumped before the video

[2016-02-03 18:43] yciabaud commented on #22
The issue is probably located in mediasource module.

[2016-02-08 03:31] feross commented on #22
@yciabaud So this worked fine in `videostream` 1.x?

[2016-02-08 03:32] feross commented on #9
I just fixed webtorrent to handle a really big `end` value more graceully, by clamping to the `torrent.length - 1`.

[2016-02-08 03:32] #9 closed

[2016-02-08 10:11] yciabaud commented on #22
Yes it was, the stream I wrote between webtorrent and videostream could not be well designed but previously it had the behavior I wanted.

Maybe I should extract a simpler test without my custom stream to be sure.

[2016-02-08 17:21] alxhotel opened #23 "Object prototype may only be an Object or null"
It breaks just doing a require

[code]

Trace:
[code]

Any ideas ?

[2016-02-08 21:30] feross commented on #23
This error looks like you're using an old version of node.js, probably 0.10. Try upgrading to at least v4. You can do that here: https://nodejs.org/en/

It fails because the code contains:

[code]

But this used to be required in old node.js:

[code]

Also, a more important issue to keep in mind: this package doesn't work in node.js. It's meant for the browser.

[2016-02-08 21:30] #23 closed

[2016-02-08 22:30] alxhotel commented on #23
Oh yeah, that was the problem. Thanks.

[2016-02-12 00:49] feross opened #24 "sintel.mp4 doesn't work in Safari 9.0.3"
Not quite sure what’s the issue, but you can see it in action on https://webtorrent.io.

[2016-02-24 00:12] yciabaud commented on #22
OK I checked with a little test case and without preload it works in videostream 1.2.3 and not in 2.1.2 .

Can you take a look at it?

I used one of my files but the test case is the same as the one in the repo:
[code]

[2016-02-25 03:53] jhiesey commented on #22
I'll take a look at this tonight

[2016-02-25 08:15] jhiesey commented on #22
There are two separate issues here:
1. The `mediasource` module doesn't handle multiple calls to `createWriteStream` before the mediasource opens. This was causing the exceptions. I have a fix that I need to test more but should work.
2. `videostream` completely fails and/or starts downloading video data too early. This is fixed in v2.2.0, which also should not trigger the error in `mediasource` (

[2016-02-25 08:46] yciabaud commented on #22
Yes it does, good work! All is working as I need.
Can't wait to deploy it, thank you for the quick fixing.

[2016-02-25 08:46] #22 closed

[2016-02-25 09:04] jhiesey commented on #24
Yeah I know this is broken. Safari is really picky about the videos it accepts. This will take a bit of work to understand what's wrong.

[2016-02-25 09:11] #21 closed

[2016-02-27 21:50] feross commented on #22
As usual, @jhiesey gets :100: / :100:

[2016-02-27 22:10] feross commented on #21
:+1: nice!!

[2016-03-30 04:18] mavenave opened #27 "Problem using webworkers with videostream"
I have trouble running the code below with videostream. It's essentially what you did in `example/` but moving out the XHR to a web worker.

In my code, videostream only goes through 3 streams and then stops completely.

This is index.js:
[code]

worker.js
[code]

[2016-04-01 07:03] jhiesey commented on #27
Your problem is that you keep reassigning `worker.onmessage`, which is only safe if there can't be multiple requests outstanding.

In other words, if you set `worker.onmessage` multiple times, you won't necessarily end up calling the right callback for each. Your logging is correct in showing which requests are being made. `videostream` asks for a stream starting at the very the beginning of the f

[2016-04-01 07:21] jhiesey commented on #27
Actually, I still see errors occasionally even with my fixed code. Let me take a bit more of a look.

[2016-04-01 07:56] jhiesey commented on #27
Nevermind, it looks like the problem is specific to the (different) test video I'm using, so it shouldn't affect you.

[2016-04-01 07:56] #27 closed

[2016-04-21 10:22] Wasser-Eis opened #28 "Noob question: How do I build the example"
Please explain how I can build the example.

[2016-04-22 10:26] Wasser-Eis commented on #28
Works now.

[2016-04-22 10:26] #28 closed

[2016-05-05 19:58] feross opened #29 "MKV support"
Right now, WebTorrent uses the `videostream` package to provide support for MP4. It would be great to be able to stream MKV files since it's a very popular container format.

[2016-06-06 13:17] v0dy commented on #29
This library might help! https://github.com/RReverser/mpegts

[2016-07-15 09:09] triangle42 opened #30 "Jumping backwards to a different playback position leads to permanent halt of video playback"
I use videostream to play back the following file https://webtorrent.io/torrents/sintel-1024-surround.mp4.  When I jump back to a different playback position, the video often plays back at first but then stops after a short while. This happens in my own implementation, which uses videostream, as well as when using instant.io for video streaming.

I use Chrome version 51.0.2704.106 m.

[2016-07-18 10:29] jhiesey commented on #30
Thanks for letting me know. I'll take a look in the next few days.

[2016-07-23 10:06] feross commented on #24
@jhiesey I know you're busy -- but do you think you'll have some time to eventually get around to this? Maybe we could raise a bounty for it from some webtorrent users, since I know there are quite a few people doing video+web seeds with webtorrent these days.

[2016-07-23 10:07] feross commented on #24
Also, if you want to get together and work on it together sometime, I'm down!

[2016-08-01 18:14] kozlown opened #31 "Failed to load resource: the server responded with a status of 416 (Requested Range Not Satisfiable)"
I used the example to try to stream a mkv video and a mp4 video but for both of them. Indeed the first request is ok with a range of 0-1999999/1524563968, the second is OK too because my file is big but is not the good range : 1380533830-1382533829/1524563968 and then the third an others http request have too large range : 2080634147-2082634146/1524563968 and I get of course the error above.

I've

[2016-08-13 20:45] lesander commented on #29
How about WebChimera, @feross? http://www.webchimera.org/

[2016-08-13 21:11] feross commented on #29
WebChimera does not work in the browser. But it's an option for Electron or
nw.js apps.
On Sat, Aug 13, 2016 at 1:45 PM Sander Laarhoven <notifications@github.com>
wrote:

[2017-01-14 05:57] feross commented on #30
Related discussion: https://github.com/feross/webtorrent/issues/1014#issuecomment-272602561

[2017-01-14 05:59] #30 closed

[2017-01-14 06:22] jhiesey commented on #30
This should finally be fixed!

[2017-01-19 07:59] jobevers opened #35 "Playback error: The SourceBuffer is full, and cannot free space to append additional buffers."
Following the example, given in the readme, I tried creating a stream that simply referenced a file on my harddrive:

[code]

When trying to play the video, I get this error:
![image](https://cloud.githubusercontent.com/assets/2380127/22098206/b453f704-ddea-11e6-93f7-e87086e7f1d2.png)

[2017-01-19 08:46] jobevers commented on #35
Eek, I looked at the file more closely. The video has a bitrate of 18496 kb/s, and the audio only 317 kb/s.  Is it possible that its running into the same bug as #30, that was fixed https://github.com/jhiesey/videostream/commit/91bff489147199098ca4c387a66f6a2c17fd6ef7?

[2017-01-23 13:30] jamiejackherer opened #36 ""GET /built.js" Error (404): "Not found""
where is built.js?

[2017-01-23 13:35] jamiejackherer commented on #36
ok so i figured its supposed to be index.js, But im trying to play a video file of my own and it still does nothing.. is there any thing we should know in order to get this working?

[2017-01-23 13:42] jamiejackherer commented on #36
it simply does not work... after realising its index.js not built.js, it still does not stream a .mp4 file..

[2017-01-25 02:28] jhiesey commented on #36
You need to run `npm run build-example` in the top level videostream directory to generate built.js. You'll have to rerun this after any changes to the example code as well.

Then `npm start` should work.

[2017-03-14 05:13] virtulis opened #37 "MP3 audio seems to be broken"
Hi,

I spent some time trying to figure out why a specific video wouldn't play (it plays fine over http, but not so much via webtorrent+videostream). Thought it had something to do with atoms and all, but it looks like videostream just has some problem with the mp3 track (reencoding with `-vcodec copy -acodec aac` completely solved the issue).

Sorry, I don't currently have an isolated test case s

[2017-03-17 19:54] kocoten1992 commented on #35
Should we increase the threshold to 70MB?

Some folk maybe want play bluray on browser, 2 layer bluray disk ~50GB (worse case scenario for now) , 70MB would solve that, and maybe console log the error if it exceed 70MB.

[2017-03-20 08:22] jhiesey commented on #37
I'm pretty sure videostream doesn't currently work with any audio tracks except aac. Yes, this should be documented! I'll add that soon and leave this bug open until then.

instant.io will fall back to not using videostream, so that probably explains why it's working from the seeder, where the whole file is available. I would expect it would also play (again not using videostream) in a receiving t

[2017-04-10 21:47] ma-tt commented on #29
+1 for .mkv support.

[2017-04-11 16:59] OfertasDescontos commented on #29
+1 for .mkv support.

[2017-04-12 23:47] feross commented on #29
@ma-tt @OfertasDescontos Please don't post useless +1 comments. Use the "reactions" feature to indicate your support for an idea. Thanks.

[2017-05-03 22:26] qgustavor commented on #29
There is [node-matroska](https://github.com/oeuillot/node-matroska), "Matroska library written for nodejs".  While node-matroska isn't easily browserifyable the original project, [node-ebml](https://github.com/themasch/node-ebml), is. I used it to make [this tool](https://qgustavor.github.io/mkv-extract/). My code [is quite messy](https://github.com/qgustavor/mkv-extract/), consider it a proof-of-

[2017-06-09 05:41] 6ea86b96 commented on #20
I would love to see this feature.

[2017-06-12 22:30] jhiesey commented on #20
I'll take a look at how to do this cleanly. It's probably not going to be super simple unfortunately.

[2017-07-31 20:09] geecko86 commented on #29
Any update on this front?

[2017-08-17 08:58] snowinszu opened #38 "Play a video larger than 3GB"
I tried to play a MP4 video larger than 3GB, but it doesn't work.

![wechatimg1086](https://user-images.githubusercontent.com/14010277/29404281-342dc2e8-836d-11e7-88e9-336fb97168d0.jpeg)

[2017-09-26 15:49] hacknlove commented on #24
There is something I can do to help?

[2017-11-30 21:59] jhiesey commented on #24
@jakefb Unfortunately iOS still doesn't support Media Source Extensions, so this module isn't going to work there. Hopefully Apple will eventually add support. Maybe iOS 12?

[2018-01-22 18:44] diegocr commented on #24
Hi there, did anyone had any success getting videostream to work on Safari? (@jakefb? /cc @jhiesey)

I have tried to debug this on my own and here are my findings:

- The initialization segments are appended to the SourceBuffer without any apparent issue, no error throw from doing so, at:

    https://github.com/jhiesey/videostream/blob/c730a19bcca87b4b8bbd7702e1a37dd59b22808f/videostream.js#L56

[2018-01-23 22:20] jhiesey commented on #24
Thanks for taking a look! I know it's broken in Safari (and Edge too), I just haven't gotten around to debugging the issue. Unfortunately, as you discovered, debugging this stuff is a major pain, especially since Safari seems to be particularly picky about what it accepts. Since you seem interested in this I can try to take a look this week or next.

Interesting that mp4box.js does work. My guess

[2018-01-24 17:18] diegocr commented on #24
Interestingly, Edge does work fine here, i think the main difference with your vanilla example is that i'm not using `MultiStream`, but not sure if that's really related... what issue is throwing at you?

Alright, if you could look into the Safari issue that will be awesome, if you need any help don't hesitate to ping me, meanwhile i'm gonna check how feasible is adding support for webm/mkv, at fi

[2018-01-29 20:20] victorlewis commented on #24
If you look at the mediasource object returned here:
https://github.com/jhiesey/videostream/blob/c730a19bcca87b4b8bbd7702e1a37dd59b22808f/videostream.js#L46

The data in Safari is different from Chrome/other browsers. In Safari I'm getting Duration:NaN instead of the correct one, readyState:"closed" instead of "open", segment:0 instead of 2 etc.

This spreads into the track object, in which the vi

[2018-04-20 01:25] jhiesey commented on #24
So it looks like there are a few issues. The main one is fixed by https://github.com/jhiesey/mp4-box-encoding/commit/acfbcd748277e4c9315add871474360eefd459b6; however, I still need to avoid using `SourceBuffer.abort()` due to https://bugs.webkit.org/show_bug.cgi?id=165342

[2018-04-20 06:55] feross commented on #24
Wohoo, I redeployed https://webtorrent.io and it (sorta) works in Safari now!! 🌟

[2018-04-23 13:17] diegocr commented on #24
Thank you very much @jhiesey!

Amazing just swapping some array member made it work :)

[2018-05-10 00:28] jhiesey commented on #24
So I did a little poking around and it seems that `SourceBuffer.abort()` actually works, at least the way I'm using it. The remaining stalls are due to something else. Taking a look.

[2018-05-10 00:49] feross commented on #24
@jhiesey Nice, let me know if you need my help for anything

[2018-06-01 19:48] HostFat commented on #29
Yep, it will be great :)

[2018-07-23 21:31] tzarebczan commented on #38
We are having the same issue on the LBRY project (https://github.com/lbryio/lbry-desktop/issues/1577)

Anyone interested in working on fixing this? We can help pay for dev time with LBC (LBRY Credits)

[2018-07-24 07:06] jhiesey commented on #38
I'll do some preliminary investigation this week.

[2018-07-24 19:57] diegocr commented on #38
Hi @jhiesey,

Let me help out with this since you was very kind by looking into adding Safari browser support (although is not yet complete ;))

The main issue here is a off-by-one-byte bug in the [uint64be](https://github.com/mafintosh/uint64be) package, so first of all you need to update your package.json file to use the 2.0.2 version.

Then you will need to add a `co64` box parser in `mp4-box-e

[2018-07-24 20:59] tzarebczan opened #41 "Support additional codecs and video formats?"
Are there plans to add support for additional codecs and video formats? We are using this plugin in the LBRY Desktop App (https://github.com/lbryio/lbry-desktop) as part of RenderMedia and we'd like to be able to support other formats/codecs like AVI/MKV/MOV/MPEG/FLV (not streaming necessarily, but at least the ability to play them when fully downloaded)

We would tip in LBRY Credits (LBC) for any

[2018-07-24 21:42] jhiesey commented on #38
Woah thanks for the debugging @diegocr! I'll get those fixes merged in this week.

[2018-07-24 21:49] jhiesey commented on #41
I don't have any plans for that at present, but I can tell there's more interest in this library these days so it's a possibility. If anyone is interested in donating cash that would help a lot :)

So there are codecs and containers, which are different things. Sounds like you actually want support for more containers, which roughly correspond to file extensions.

.mov is probably close to working

[2018-07-24 22:15] jhiesey commented on #37
Well so much for "soon", sorry. I'm finally getting to the issue backlog I promise :)

[2018-07-24 22:15] jhiesey commented on #36
Please reopen if this is still an issue

[2018-07-24 22:15] #36 closed

[2018-07-25 19:38] mitra42 opened #42 "value out of bounds and slice undefined error (in WebTorrent)"
Copied at @jhiesey request from https://github.com/webtorrent/webtorrent/issues/1440

**What version of WebTorrent?**
0.99.3
**What operating system and Node.js version?**.
OSX - not in node
**What browser and version? (if using WebTorrent in the browser)**
Chrome  67.0.3396.99
**What did you expect to happen?**
Download and play
**What actually happened?**
Errors ... see below especially the `"va

[2018-07-25 19:39] mitra42 commented on #42
See See internetarchive/dweb-archive#43

[2018-07-25 20:13] diegocr commented on #38
No problem, i can make PRs if you want, but these changes should be kinda straightforward :)

[2018-07-28 23:21] #38 closed

[2018-07-29 09:11] rigelk commented on #41
@jhiesey I would be willing to help on Mastroska (or WebM for that matter).

[2018-07-31 15:39] kodxana opened #43 "Raspberry Pi performance"
It is possible to increase performance for raspberry pi?
Raspberry Pi is powerful to watch 1080p 60 fps video but in app with this plugin videos lag so much.

[2018-08-01 04:40] diegocr commented on #38
@tzarebczan Thanks for the offer, I don't like taking any tips for this though, if there were some allocated to me don't hesitate to forward them towards this repo author/owner :)

[2018-08-05 16:53] tzarebczan opened #44 "Rotation metadata is ignored"
Please see https://github.com/feross/render-media/issues/31 / https://github.com/lbryio/lbry-app/issues/539#issuecomment-329376764 for original issue description.

[2018-08-07 14:59] tzarebczan commented on #38
@diegocr / @jhiesey can you confirm this was fixed? I tried pulling in the changes and still seeing this:
![image](https://user-images.githubusercontent.com/8120721/43783926-e9176724-9a30-11e8-80df-f01926874a9c.png)

[2018-08-10 17:25] norsegopher commented on #29
@jhiesey, please give us some of your magic and add MKV support.

[2018-08-12 18:28] diegocr commented on #38
Well, these changes definitely added support for _"big files"_ by integrating such `co64` parser, and i can confirm it does work like a charm for me, although i don't use render-media.

[2018-08-13 07:25] jhiesey commented on #38
Yes I verified the changes fixed the large file issue. This looks like a different problem; I'm a bit busy at the moment but will take a look when I have time.

[2018-08-29 21:33] tzarebczan opened #45 "VP8/Webm support?"
How difficult would it be to add streaming support for VP8/webm support?

[2018-08-29 21:51] jhiesey commented on #45
Supporting VP8 in a webm container would require a major overhaul. At this point I'm inclined to wait until AV1 is more widely supported and then support that. It seems like there is some support for AV1 in mp4 containers, and some for webm containers, so we'll have to see which one gains widespread adoption.

Of course if someone is willing to fund further work on videostream I can add VP8 sooner

[2018-09-25 08:12] jhiesey commented on #44
I'll take a look soon. I'm not sure if I'm supposed to be handling the rotation or the browser is.

[2018-11-13 16:31] gmarty commented on #45
Would something like https://github.com/jscodec/jswebm help with parsing webm container?
If so, what type of changes are needed in the main script to support both webm and mp4?

[2019-01-03 18:39] PaulBGD commented on #35
I ran into this and opened this issue: https://github.com/feross/mediasource/issues/21
I didn't realize this was an issue on both Chrome and Firefox.

[2019-02-06 08:22] Chocobozzz commented on #20
@jhiesey Hi

Do you have any news on this feature? We would like to use both HLS and WebTorrent in our application, but without fragmented mp4 support in WebTorrent we need to generate two different mp4 files

[2019-02-19 23:28] Miaourt commented on #29
Hello, monthly silly up, if there is any tips on how we could help for this btw

[2019-03-20 15:41] stephan-fischer opened #47 "All AudioTracks {Feature Request}"
Hello,

at the moment the code select the first possible audio track. But is it possible to "load" all audiotracks, and switch it at runtime?

Thank you!

Best regards
Stephan

[2019-03-21 05:00] jhiesey commented on #47
Yes this is something I've considered.

Unfortunately, most of the time there isn't more than one audio track that is compatible with the browser anyway. Do you have a specific example where it would be useful?

I also don't have a lot of time for this project at the moment, unless you are willing to pay for development.

[2019-04-12 19:45] tbranyen commented on #20
I've been doing some work with mp4box.js and have some experience with playing back non-fragmented content. I'll take a look at the codebase over the weekend and see if I can help out.

[2019-07-13 02:07] guanzo opened #48 "Publish latest commit to npm"
Hi, there's a bug in the [render-media](https://github.com/feross/render-media) package that appeared after it upgraded to videostream@3.2.0.

![bug](https://i.gyazo.com/8d00a4d6935d45f182b9b89bf098c814.png)

The bug went away after testing the code in d8bac5e3b3ea4ea5c864b11ecfa986010b124c2a, so could you publish that commit as a new release? Then I can ping the render-media maintainer to update.

[2019-08-04 01:27] feross commented on #48
I just published the latest commit to npm as 3.2.1.

[2019-08-04 01:27] #48 closed

[2019-08-14 19:52] feross commented on #24
Is this issue fully resolved now? Playback in Safari seems quite reliable in my experience.

[2019-09-13 07:11] PaTiToMaSteR commented on #24
Video streaming in Safari, iPad and iOS doesn't work. Even in webtorrent.io. The video plays when is fully buffered/downloaded. Also we need to consider that not only autoplay: true in the ops it's enough, as WebKit published time ago that the way to go in iOS devices is use: playsinline attribute.

Any advances in this regard?

Also worth to mention I'm not downloading the whole content of the we

[2019-09-13 11:10] jhiesey commented on #24
@PaTiToMaSteR Media Source is only supported on iPadOS 13; not regular iOS 13 or any older iOS. See https://stackoverflow.com/questions/52999825/why-exactly-doesnt-html5-media-source-video-work-on-ios

This issue was about Mac OS Safari; I think it's working fine at this point. If not, feel free to reopen.

[2019-09-13 11:10] #24 closed

[2020-03-26 22:45] PavelShar commented on #29
Hello, guys!
Any updates about MKV stream support?

[2020-04-19 01:34] PaTiToMaSteR commented on #20
This is a big concern. iOS and Android cannot handle "big" mp4 files, something more than 10 minutes. So HTMLMediaElement will never stream a thing on the billion devices of the planet. The unique way is with .ts support and m3u8

Anyone knows what happened with this feature? Or if there is an alternative for WebTorrent to play on iOS o Android streaming instead to wait until the full file is down

[2020-06-24 10:10] snowinszu opened #51 "How to switch to another source?"
How to switch to another source?

[2020-11-04 05:33] snowinszu opened #56 "NS_ERROR_DOM_MEDIA_FATAL_ERR in firefox"
When frequently seeking video in Firefox, this error happens always.

![image](https://user-images.githubusercontent.com/14010277/98072988-4a004900-1ea2-11eb-966c-b1cd3949c371.png)

[2020-12-02 04:06] okgame opened #58 "[Bug] Some encode can't seek video in Chrome"
Hello
Please check video below.
http://www.mediafire.com/file/zywvmzq6i3eowt4/demo.mp4/file

It play well with basic mp4 method. But got issue with mediasource. Can't seek.
When seek video, player will buff infinity.
If not seek, video play normal.

Play with video tag + mp4 url: All device and browsers.
Play with mediasource: Only work with Firefox, got issue with Chrome.

Info file

[2021-01-02 18:36] zekiblue commented on #29
mkv support is essential guys, most of the videos are served in mkv

[2021-01-02 19:25] qgustavor commented on #29
@zekiblue I don't think so: maybe most videos distributed illegally are served using this container (unless you also consider WebM, which is based on Matroska, but isn't MKV), Anyway I'm just guessing: streaming services, AFAIK, are huge, do not use MKV and count for "most of the videos served".

Matroska is just an container, the main issue on supporting MKV is that many videos I find using this

[2021-01-07 16:30] jackhadrill opened #59 "Intermittent, unrecoverable freezes in Firefox when seeking"
I am getting intermittent, unrecoverable freezes whilst seeking an H.264 encoded MP4 in **Firefox 84** on **MacOS Big Sur**. The video hangs as if it is waiting for data, even if the video has finished downloading completely. I am using WebTorrent to download the popular CC-licensed "Sintel" video. The same behaviour can be seen on [WebTorrent's own website](https://webtorrent.io).

I have not tes

[2021-01-07 17:38] jackhadrill commented on #59
I think I'm along the right lines with my theory. Increasing the `media.cache_readahead_limit` setting in Firefox from 60 to max(int32) seems to offer a temporary fix.

Hope this helps anyone looking at this issue move closer to a proper fix...

[2021-02-02 12:12] consoleLogIt opened #60 "video stalls in safari browser on seeking"
when trying to seek, video stalls, nothing happens i can only see the frame of the video where ever i seek to.
if not seeked plays fine in safari

[2021-02-28 15:19] snowinszu commented on #59
Hi , I face the same issue, did you work it out?

[2021-06-15 05:52] mayank1513 opened #62 "Not able to use videostrem in next.js"
Hi,

I have posted question here - https://stackoverflow.com/q/67980499/9640177

I am trying to play video using media stream in next js. My api looks like this

[code]
and in the index.js

[code]

This works well for small videos. However, I am trying to use media stream to avoid pulling all data into blob before I can play that.

I tried various ways including Videostream with no success.

Speci